<h3>
    Héroe
    <small>nombre...</small>
</h3>
<button class="btn btn-outline-danger" [routerLink]="['/heroes']">Regresar</button>&nbsp;&nbsp;
<button class="btn btn-outline-primary" (click)="agregarNuevo(forma)">Agregar Nuevo</button>
<hr />
<div class="row animated fade-in fast">
    <div class="col-md-12">
        <form (ngSubmit)="guardar()" #forma="ngForm">
            <div class="form-group">
                <label>Nombre</label>
                <input [(ngModel)]="heroe.nombre"
                       name="nombre"
                       type="text" value="" class="form-control" required placeholder="Nombre del héroe" />
            </div>

            <div class="form-group">
                <label>Casa</label>
                <select [(ngModel)]="heroe.casa"
                        name="casa"
                        class="form-control">
                    <option value="Marvel">Marvel</option>
                    <option value="DC">DC</option>
                </select>
            </div>

            <div class="form-group">
                <label>Bio</label>
                <textarea [(ngModel)]="heroe.bio"
                          name="bio"
                          type="text" value="" class="form-control"></textarea>
            </div>

            <div class="form-group">
                <button [disabled]="!forma.valid"
                        type="submit" class="btn btn-outline-primary">
                    Guardar Cambios
                </button>
            </div>

        </form>
    </div>
</div>
