<h1>Heroes</h1>
<hr />
<div class="row animated fade-in fast">
    <div class="col-md-12 text-right">
        <button class="btn btn-outline-primary" type="button" name="button" [routerLink]="['/heroe','nuevo']">
            Nuevo Héroe
        </button>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Casa</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let k of heroes | keys; let i=index">
                        <td>{{ i+1 }}</td>
                        <td>{{ heroes[k].nombre }}</td>
                        <td>{{ heroes[k].casa }}</td>
                        <td>
                            <button type="button" class="btn btn-outline-success" [routerLink]="['/heroe',k]">Editar</button>&nbsp;
                            <button type="button" class="btn btn-outline-danger" (click)="borrarHeroe(k)">Borrar</button>
                        </td>
                    </tr>
                    <tr *ngIf="heroes == null && !loading">
                        <td colspan="4">No hay registros que mostrar</td>
                    </tr>
                    <tr *ngIf="loading">
                        <td colspan="4">Cargando datos, por favor espere</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
